{"dhisUrl":"http://192.168.0.169:8070/hivtracker","fingerprintUrl":"http://localhost:8080/NepalFingerprintServer","host":"192.168.0.169","port":8070,"attribute_fid":"UHoTGT1dtjj","attribute_fid_code":"fingerprint_id","attribute_template":"uiOMHu4LtAP","attribute_template_code":"fingerprint_str","attrubute_client_code":"drKkLxaGFwv","program_hiv":"L78QzNqadTV"}