{"dhisUrl":"http://localhost:8080/dhis","fingerprintUrl":"http://localhost:8080/NepalFingerprintServer","host":"localhost","port":8080,"attribute_fid":"ePbX8aM22Nb","attribute_fid_code":"fingerprint_id","attribute_template":"ySaNYnlAMWL","attribute_template_code":"fingerprint_str","attrubute_client_code":"drKkLxaGFwv","program_hiv":"L78QzNqadTV"}